body {
    background-color: rgb(255, 238, 0);
}


header, footer{
    background-color: black;
    margin: -10px;
    width: 100vw;   
    color: white;
    display: block;
    display: flex;
    justify-content: space-between;
}

